@model List<eClassBook.ViewModels.Class.ClassViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get Classes All By Grad</h1>


@foreach (var item in Model)
{
    <div>
        <p>First Name: @item.ClassTeacher.FirstName</p>
        <p>Second Name: @item.ClassTeacher.SecondName</p>
        <p>Class Grade: @item.Grade</p>
        <p>Class Grade letter: @item.GradeLetter</p>
        <p>Start Year: @item.StartYear</p>
    </div>
}

<hr />
}
