@model eClassBook.ViewModels.Class.ClassViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get Class By School Id</h1>


<div>
        <p>First Name: @Model.ClassTeacher.FirstName</p>
        <p>Second Name: @Model.ClassTeacher.SecondName</p>
        <p>Class Grade: @Model.Grade</p>
        <p>Class Grade letter: @Model.GradeLetter</p>
        <p>Start Year: @Model.StartYear</p>
    </div>
