@model eClassBook.Services.DTOs.SchoolUserDTOs.StudentDTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get Student By Id</h1>

<p>@Model.ClassId</p>
<p>@Model.StartYear</p>
<div>
        <p>@Model.FirstName</p>
        <p>@Model.SecondName</p>
        <p>@Model.LastName</p>
        <p>@Model.StartYear</p>
        <p>@Model.SchoolId</p>
        <p>@Model.Address</p>
    </div>


