@model eClassBook.ViewModels.Student.StudentDialogViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get for dialog</h1>

<div>
    <p>@Model.SchoolUserId</p>
<p>@Model.FullName</p>
<p>@Model.Grade</p>
<p>@Model.Address</p>
<p>@Model.StartYear</p>
<p>@Model.AvgScore</p>
<p>@Model.Absences</p>
<p>@Model.ParentName</p>
<p>@Model.Email</p>

</div>



